.App {
  text-align: center;
  margin: 20px;
  width: 600px;
  border-style: solid;
  height: 500px;
}
.search-box {
  margin: 20px;
}
.detail {
  color: aqua;
  background-color: burlywood;
}

.detailBox {
  margin: 10px;
  border: 1px;
  border-color: azure;
  border-style: solid;
}
